h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #9dd766;
    font-family: 'Abel', sans-serif;
}

h6 {
    text-align: center;
    color: #5a756d;
    font-family: 'Abel', sans-serif;
}

body {
    background-color: #0b1517 !important;
}

button {
    border-color: #9dd766;
    color: #fef7c7;
    padding: 10px 50px 10px 50px;
    background-color: #060909;
    outline: none;
    margin: 50%;
}

button:hover {
    border-color: #9dd766;
    color: #fef7c7;
    padding: 10px 50px 10px 50px;
    background-color: #0b1517;
    outline: none;
}

.btn {
    margin: 10px;
}

p {
    color: #fef7c7;
}

.btn_ribbon {
    text-align: center;
}

.editor_row {
    display: flex;
    margin: 30px;
}

.left {
    flex: 1 1 0px;
    padding: 10px;
}

.txtarea {
    color: #fef7c7;
    width: 100%;
    padding: 3%;
    border-left: 10px solid;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-width: thick;
    outline: none;
    font-family: 'Cutive Mono', sans-serif;
    font-weight: 100;
    background-color: #060909;
}

.add_btn {
    text-align: center;
}

.right {
    padding: 10px;
}

.condoc {
    background-color: #060909;
    padding: 3%;
    height: 25px;
    /* Shouldn't be here, but it wasn't working. */
    font-family: "Cutive Mono";
    border-left: 10px solid;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-width: thick;
    color: white;
}

.export_btn {
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 100px;
}